<!DOCTYPE html>
<html th:lang="|${#locale.language}-${#locale.country}|"
      xmlns:x-transition="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}"
>

<head>
    <title>Home</title>
    <link rel="stylesheet" th:href="@{/css/application.css}">
</head>
<body>

<section layout:fragment="page-content">

    <h1 class="mb-10">main content</h1>
    <div layout:replace="layout/admonition :: admonition(type='ready')">
        <div layout:fragment="message">
            This is ready
        </div>
    </div>

    <div layout:replace="layout/admonition :: admonition(type='not-ready')">
        <div layout:fragment="message">
            This is not ready
        </div>
    </div>
</section>

<th:block layout:fragment="page-scripts">
    <script>
        const closeSideBarBtn = document.querySelector('#close-sidebar-btn'),
            openSideBarBtn = document.querySelector('#open-sidebar-btn'),
            sidebar = document.querySelector('#sidebar'),
            mainContent = document.querySelector('#main-content'),
            closeLoginFormBtn = document.querySelector('#close-login-form'),
            openLoginFormBtn = document.querySelector('#open-login-form'),
            loginForm = document.querySelector('#login-form');

        document.addEventListener('keydown', (e) => {
            if (e.key === 'Escape') {
                loginForm.style.display = 'none'
            }
        })

        loginForm.addEventListener('click', (e) => {
            console.log(e.target.tagName)
            if (e.target === loginForm) {
                loginForm.style.display = 'none'
            }
        })


        // close and open sidebar
        closeSideBarBtn.addEventListener('click', (e) => {
            e.preventDefault();
            openSideBarBtn.classList.remove('hidden')
            sidebar.style.transform = "translateX(-100%)"
            mainContent.style.paddingLeft = '0'
            console.log("close")
        })

        openSideBarBtn.addEventListener('click', (e) => {
            e.preventDefault();
            openSideBarBtn.classList.add('hidden')
            sidebar.style.transform = ""
            mainContent.style.paddingLeft = '18rem'
            console.log("open")
        })

        // close and open login form
        closeLoginFormBtn.addEventListener('click', (e) => {
            e.preventDefault();

            loginForm.style.display = 'none'

            console.log("close modal")
        })

        openLoginFormBtn.addEventListener('click', (e) => {
            e.preventDefault();

            loginForm.style.position = 'fixed'
            loginForm.style.display = 'block'
            console.log("open modal")
        })

    </script>
</th:block>


</body>
</html>
